name: Rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install x86_64-unknown-linux-musl
      run: rustup target add x86_64-unknown-linux-musl
    - name: Build x86_64-unknown-linux-musl
      run: cargo build --release --target x86_64-unknown-linux-musl
    - name: Run tests
      run: cargo test --verbose
    - name: Install x86_64-pc-windows-gnu target
      run: rustup target add x86_64-pc-windows-gnu
    - name: Build x86_64-pc-windows-gnu
      run: cargo build --release --target x86_64-pc-windows-gnu
